<div class="ui container">

  <div class="column ui basic segment">
    <div class="ui middle aligned grid">
      <div class="eight wide column">
        <h2>Cursuskalender</h2>
      </div>
      <div class="eight wide right aligned column">
        <app-training-filter-bar
          [tags]="result"
          (typesearch)="setfilter($event)">
        </app-training-filter-bar>
      </div>
    </div>
  </div>

  <div class="column ui basic segment">
    <sui-accordion class="styled fluid" [closeOthers]="true">
      <sui-accordion-panel *ngFor="let course of courses" [isOpen]="false" >

        <div title>
          <div class="ui middle aligned grid">
            <div class="two wide right aligned column">
              <h4>
                {{ course.cursusdata[0].datum | date: 'dd/MM/yyyy'}}
              </h4>
            </div>
            <div class="eight wide column">
              <h2>
                {{ course.naam }}
              </h2>
            </div>
            <div class="three wide right aligned column ">
              {{ course.attitude }}, {{course.functieniveau}}
            </div>
            <div class="three wide right aligned column">
              <button class="ui pink right labeled icon button">
                Subscribe
                <i class="hand peace icon"></i>
              </button>
            </div>
          </div>
        </div>

        <div content>
          <div class="ui top aligned grid">
            <div class="two wide right aligned column ">
              <div *ngFor="let date of course.cursusdata | slice:1; let i = index;">
                {{ date.datum | date: 'dd/MM/yyyy'}}
              </div>
            </div>
            <div class="eight wide column">
              <p>
                {{ course.beschrijving }}
              </p>
            </div>
            <div class="three wide right aligned column ">
              <div *ngFor="let docent of course.cursusdocenten">
                {{ docent.naam}}
              </div>
            </div>
            <div class="two wide column ">
            </div>
          </div>
        </div>

      </sui-accordion-panel>
    </sui-accordion>
  </div>

</div>
